@{
    if (Model.dt_posts is not null)
    {
        foreach (DataRow dr in Model.dt_posts.Rows)
        {
            string p_id = @dr[0].ToString();
            string content_type = (string)@dr["p_file_content_type"];

            <div class="post">
                <div class="post_text">
                    <pre>@dr["p_text"]</pre>
                </div>
                <div class="info_text">
                    Posted by @dr["us_username"] on @dr["p_created_date"]&nbsp;&nbsp;post id#@dr["p_id"]
                </div>

                @{
                    if (content_type != "")
                    {
                        <div class="info_text">
                            File: @dr["p_file_name"], Size: @dr["p_file_length"],
                            Type: @dr["p_file_content_type"]]
                            &nbsp;&nbsp;
                            <a href="/File?handler=File&p_id=@p_id" download="@dr["p_file_name"]">Download</a>
                            &nbsp;&nbsp;

                            @{
                                if (content_type.Contains("image"))
                                {
                                    <div class="show_hide_image fake_link" onclick="show_hide_image('#image_div_@p_id', this)">View

                                    </div>
                                }
                            }

                        </div>
                        if (content_type.Contains("image"))
                        {
                            <div style="display:none" class="post_image" id="image_div_@p_id">
                                <img class="post_img" src="/File?handler=File&p_id=@p_id" />
                            </div>
                        }
                    }
                }

            </div>
        }
    }
}
