@{
    if (Model.dt_posts is not null)
    {
        <div class="posts_inner">
            @{
                foreach (DataRow dr in Model.dt_posts.Rows)
                {
                    int p_id = (int)dr[0];
                    string post_type = (string)dr["p_post_type"];

                    if (post_type == bd_issue.POST_TYPE_HISTORY)
                    {
                        string changed_field = (string)@dr["p_changed_field"];
                        string before_val = (string)dr["p_before_val"];
                        string after_val = (string)dr["p_after_val"];
                        if (changed_field == "Description" || changed_field == "Details")
                        {
                            <div class="info_text history">
                                @changed_field changed <a href="#" class="history-ref" data-before="@before_val"
                                    data-after="@after_val">[view]</a>
                                by @dr["us_username"] on @dr["p_created_date"]&nbsp;&nbsp;post #@p_id
                            </div>
                        }
                        else
                        {
                            <div class="info_text history">
                                @changed_field changed from "@before_val" to "@after_val"
                                by @dr["us_username"] on @dr["p_created_date"]&nbsp;&nbsp;post #@p_id
                            </div>
                        }
                    } // end history
                    else
                    { // not history
                        <div class="post" id="post_@p_id">

                            @{
                                if (post_type == bd_issue.POST_TYPE_COMMENT)
                                {
                                    <div class="info_text">
                                        Comment by @dr["us_username"] on @dr["p_created_date"]&nbsp;&nbsp;post #@p_id
                                    </div>
                                    string p_text = (string)dr["p_text"];
                                    if (!string.IsNullOrWhiteSpace(p_text))
                                    {
                                        <pre class="post_text">@p_text</pre>
                                    }
                                }

                                else if (post_type == bd_issue.POST_TYPE_EMAIL_OUT)
                                {
                                    <div class="info_text">
                                        Email sent by @dr["us_username"] on @dr["p_created_date"]&nbsp;&nbsp;post #@p_id
                                    </div>
                                    <div>
                                        <span>To: @dr["p_email_to"]</span>
                                    </div>

                                    <pre class="post_text">@dr["p_text"]</pre>
                                }

                                else if (post_type == bd_issue.POST_TYPE_REPLY_IN || post_type == bd_issue.POST_TYPE_EMAIL_IN)
                                {
                                    <div class="info_text">
                                        Email received from @dr["p_email_from"] on @dr["p_created_date"]&nbsp;&nbsp;post #@p_id
                                    </div>
                                    string html_part = (string)dr["p_email_from_html_part"];
                                    if (html_part != "")
                                    {
                                        <!--sandbox prevents script-->
                                        <iframe sandbox="allow-same-origin" onload="resizeIframe(this)" class="html_part_iframe"
                                            src="HtmlPart?p_id=@p_id">
                                        </iframe>
                                    }
                                    else
                                    {
                                        <pre class=" post_text">@dr["p_text"]</pre>
                                    }
                                }


                                DataTable dt_files = Model.GetPostAttachments(p_id);
                                foreach (DataRow file_row in dt_files.Rows)
                                {
                                    int pa_id = (int)file_row[0];
                                    string content_type = (string)file_row["pa_file_content_type"];
                                    if (content_type != "") // should never be blank...
                                    {
                                        <div class="info_text">
                                            File: @file_row["pa_file_name"], Size: @file_row["pa_file_length"],
                                            Type: @file_row["pa_file_content_type"]]
                                            &nbsp;&nbsp;
                                            <a href="/App/File?handler=File&pa_id=@pa_id" download="@file_row["pa_file_name"]">Download</a>
                                            &nbsp;&nbsp;

                                            @{
                                                if (content_type.Contains("image"))
                                                {
                                                    <div class="show_hide_image fake_link" onclick="show_hide_image('#image_div_@pa_id', this)">View</div>
                                                }
                                            }

                                        </div>
                                        if (content_type.Contains("image"))
                                        {
                                            <div style="display:none" class="post_image" id="image_div_@pa_id">
                                                <img class="post_img" src="/App/File?handler=File&pa_id=@pa_id" />
                                            </div>
                                        }
                                    }
                                }
                                @* end for each attachment *@
                            }

                        </div> @* end not history div *@

                    }
                    @* not history post *@
                }
                @* end for each post *@
            }
        </div>
        @* posts inner div *@
    }

    if (!string.IsNullOrEmpty(Model.post_error))
    {
        <div class="flash_err">@Model.post_error</div>
    }
}
