@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    bool is_admin = bd_util.is_user_admin(HttpContextAccessor.HttpContext);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>@ViewData["Title"] - @bd_config.get(bd_config.AppName)</title>
    <link rel="stylesheet" href="~/css/budoco.css" />

    @{
        if (bd_config.get(bd_config.UseCustomCss) == 1)
        {
            string custom_css_filename = bd_config.get(bd_config.CustomCssFilename);
            <link rel="stylesheet" href="/@custom_css_filename" />
        }
    }

</head>

@{
    bd_util.log("layout_simple http status: " +
            HttpContextAccessor.HttpContext.Response.StatusCode.ToString());
    if (HttpContextAccessor.HttpContext.Response.StatusCode == 302)
    {

        <body>This is a redirect</body>
        IgnoreBody();
        IgnoreSection("Scripts");
    }
    else
    {

        <body>
            <ul class="menu">

                <li><a class="logo" asp-page="/Index">@bd_config.get(bd_config.AppName)</a></li>

                <li><a asp-page="/Issues">View Issues</a></li>
                <li><a asp-page="/Issue">Create Issue</a></li>
                <li><a asp-page="/Search">Search</a></li>


                <li>
                    <button class="goto_button" id="goto_button">Go To Issue:</button>
                    <input type="number" class="goto_input" id="goto_input" placeholder="ID#" />
                </li>

                <li><a asp-page="/Report/Reports">Reports</a></li>

                @{
                    if (is_admin)
                    {
                        <li><a asp-page="/Admin/Admin">Admin</a></li>
                        if (bd_config.get(bd_config.DebugEnableRunSql) == 1)
                        {
                            <li><a asp-page="/Admin/RunSql">Run Sql</a></li>
                        }
                    }
                }

                <!-- from most to least right -->
                <li class="menu_right"><a href="/About">About</a></li>
                <li class="menu_right"><a href="/Login?action=signout">Sign Out</a></li>
                <li class="menu_right"><a href="/UserSettings">@bd_util.get_username_from_session(Context)</a></li>

            </ul>

            <div class="content_parent">
                @RenderBody()
            </div>


            <div id='modal' class='modal' style="display:none">
                <div class='window'>
                    <div class='header'></div>
                    <div class='body'></div>
                    <div class='footer'>
                        <button class='btn'>Close</button>
                    </div>
                </div>
            </div>


            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script>

                $(document).ready(function () {

                    $("#goto_input").on("keydown", function (event) {
                        if (event.keyCode == 13) {
                            goto();
                        }
                    });

                    $("#goto_button").on("click", function (event) {
                        goto();
                    });
                });

                function goto() {
                    var issue_id = $("#goto_input").val();
                    if (issue_id == 0)
                        alert("Enter issue ID#")
                    else
                        location.href = "/Issue?id=" + issue_id
                }
            </script>

            @await RenderSectionAsync("Scripts", required: false)

        </body>
    }
}

</html>
