@{
    if (Model.error is not null)
    {
        <div class="flash_err">@Model.error</div>
    }
    if (Model.success is not null)
    {
        <div class="flash_msg">@Model.success</div>
    }
}

@{
    if (@Model.dt is not null)
    {
        <div class="data_table_div">
            <div class="info_text just_left">@Model.dt.Rows.Count rows</div>

            <table id="results_table" class="dt">
                @{
                    <tr>
                        @{
                            for (int i = 0; i < Model.dt.Columns.Count; i++)
                            {

                                <th>@Model.dt.Columns[i].ColumnName</th>
                            }
                        }
                    </tr>
                    for (int row = 0; row < Model.dt.Rows.Count; row++)
                    {
                        DataRow dr = Model.dt.Rows[row];
                        <tr>
                            @{
                                for (int col = 0; col < Model.dt.Columns.Count; col++)
                                {
                                    <td>@dr[col]</td>
                                }
                            }

                        </tr>
                    }

                }
            </table>
        </div>
    }
}
