@page
@model IssuesModel

@{
    ViewData["Title"] = "Issues";
}

<partial name="_FlashPartial" />

<div class="just_left"> 

@{
    int rows_per_page = bd_config.get(bd_config.RowsPerPage);
    if (HttpContext.Response.StatusCode == 200)
    {
        <div>
            View:
            <select onchange="on_query_change()" asp-for="query_id" asp-items="@Model.queries">
            </select>
        </div>

        <div>
            @{
                int number_of_pages = Model.dt.Rows.Count / rows_per_page;
                if (Model.dt.Rows.Count % rows_per_page > 0)
                {
                    number_of_pages++;
                }

                if (number_of_pages > 0)
                {
                    <span>Page @Model.page of @number_of_pages&nbsp;&nbsp;</span>
                    if (number_of_pages > 1)
                    {
                        if (Model.page > 1)
                        {
                            <a href="/App/Issues?query_id=@Model.query_id&page=@(Model.page - 1)&sort=@Model.sort">Prev</a>
                        }
                        else
                        {
                            <span class="gray">Prev</span>
                        }

                        <span>&nbsp;&nbsp;</span>
                        if (Model.page < number_of_pages)
                        {
                            <a href="/App/Issues?query_id=@Model.query_id&page=@(Model.page + 1)&sort=@Model.sort">Next</a>
                        }
                        else
                        {
                            <span class="gray">Next</span>
                        }
                    }
                }

            }
        </div>

        <div>
            <div class="info_text just_left">@Model.dt.Rows.Count rows</div>

            <table class="dt">
                @{
                    <tr>
                        @{
                            for (int i = 0; i < Model.dt.Columns.Count; i++)
                            {
                                string class_name = (@Model.sort == i ? "sorted" : "unsorted");
                                <th class="@class_name fake_link" onclick="on_sort(@i)">@Model.dt.Columns[i].ColumnName</th>
                            }
                        }
                        <th class="unsorted">Action</th>
                    </tr>
                    int start_row = (Model.page - 1) * rows_per_page;
                    int row_count = 0;

                    for (int row = start_row; row < Model.dt.Rows.Count; row++)
                    {
                        DataRow dr = Model.dt.Rows[row];
                        <tr>
                            @{
                                for (int col = 0; col < Model.dt.Columns.Count; col++)
                                {
                                    if (col == 0)
                                    {
                                        <td><a href="/App/Issue?id=@dr[0]">@dr[col]</a></td>
                                    }
                                    else
                                    {
                                        <td>@bd_db.format(dr[col])</td>
                                    }

                                }
                            }
                            <td>
                                <a href="/App/Issue?id=@dr[0]">
                                    Details
                                </a>
                            </td>
                        </tr>
                        row_count++;
                        if (row_count == rows_per_page)
                        {
                            break;
                        }
                    }
                }
            </table>
        </div>
    }
}

@section Scripts {

    <script>
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function on_query_change() {
        var query_id = $("#query_id").val();
        window.location.href = "Issues?page=1&sort=-1&query_id=" + query_id
    }

    function on_sort(col) {
        var query_id = $("#query_id").val();
        var query_string_vars = getUrlVars();
        var prev_sort = query_string_vars["sort"];
        var prev_dir = query_string_vars["dir"];
        var dir = "asc"
        if (col == prev_sort) {
            dir = (prev_dir == "asc" ? "desc" : "asc");
        }
        window.location.href = "Issues?page=1&query_id=" + query_id + "&sort=" + col + "&dir=" + dir
    }
</script>

</div>
}
