@page
@model AdminModel

@{
    ViewData["Title"] = "Admin";
}

<div class="centered_and_left_just">
    
<h1>Admin</h1>
<partial name="_FlashPartial" />


<div>
    <a href="/Admin/Users">Users</a>
    - Mark users as admin or not, inactive or not, assign them to organizations.
</div>
<br>

<div><a href="/Admin/Organizations">Organizations</a> - Under Construction </div>

<br>
@{
    if (bd_config.get(bd_config.CustomFieldEnabled1) == 1) 
    {
        <div>
            <a href="/Admin/List?field=1">@bd_config.get(bd_config.CustomFieldLabelPlural1)</a>
            - See budoco_settings_active.txt, CustomFieldEnabled1 and related settings
        </div>
    }
    
    if (bd_config.get(bd_config.CustomFieldEnabled2) == 1) 
    {
        <div>
            <a href="/Admin/List?field=2">@bd_config.get(bd_config.CustomFieldLabelPlural2)</a>
            - See budoco_settings_active.txt, CustomFieldEnabled2 and related settings
        </div>
    }
    
    if (bd_config.get(bd_config.CustomFieldEnabled3) == 1) 
    {
        <div>
            <a href="/Admin/List?field=3">@bd_config.get(bd_config.CustomFieldLabelPlural3)</a>
            - See budoco_settings_active.txt, CustomFieldEnabled3 and related settings
         </div>
    }
    
    if (bd_config.get(bd_config.CustomFieldEnabled4) == 1) 
    {
        <div>
            <a href="/Admin/List?field=4">@bd_config.get(bd_config.CustomFieldLabelPlural4)</a>
            - See budoco_settings_active.txt, CustomFieldEnabled4 and related settings
         </div>
    }    
    
    if (bd_config.get(bd_config.CustomFieldEnabled5) == 1) 
    {
        <div>
            <a href="/Admin/List?field=5">@bd_config.get(bd_config.CustomFieldLabelPlural5)</a>
            - See budoco_settings_active.txt, CustomFieldEnabled5 and related settings
         </div>
    }    
    
    if (bd_config.get(bd_config.CustomFieldEnabled5) == 1) 
    {
        <div>
            <a href="/Admin/List?field=6">@bd_config.get(bd_config.CustomFieldLabelPlural6)</a>
            - See budoco_settings_active.txt, CustomFieldEnabled6 and related settings
         </div>
    }
}

<br>

<div>
    <a href="/Admin/Queries">Issue Queries</a> 
    - Customize the different "Views" of issues you see on the Issues page.
</div>
<br>

<div>
    <a href="/Admin/EmailQueue">Outgoing Email Queue</a>
    - Troubleshoot problems with outgoing email messages for registration, forgotten passwords, and posts.

</div>
@{if (bd_config.get(bd_config.DebugEnableRunSql) == 1) 
{                            
    <div>
        <a href="/Admin/RunSql">RunSql</a> 
        - Run any SQL. Like psql, but with a web interface.
    </div>
}}

<div>
    <a href="/Admin/Logs">Logs</a> - View and download log files.
</div>

@section Scripts {
    
}
</div>
