@page
@model AdminModel

@{
    ViewData["Title"] = "Admin";
}

<div class="centered_and_left_just">
    
<h1>@ViewData["Title"]</h1>
<partial name="_FlashPartial" />

<table class="admin_page">

<tr>
    <td><a href="/Admin/InviteUser">Invite User</a>
    <td>Register a new user and mail an invite.
</tr>

<tr>
    <td><a href="/Admin/Users">Users</a>
    <td>Mark users as admin or not, inactive or not, assign them to organizations.
</tr>

<tr>
    <td><a href="/Admin/Organizations">Organizations</a>
    <td>Users assigned to organizations can only view and update issues associated with their organization.
</tr>

@{
    if (bd_config.get(bd_config.CustomFieldEnabled1) == 1) 
    {
        <tr>
            <td><a href="/Admin/List?field=1">@bd_config.get(bd_config.CustomFieldLabelPlural1)</a>
            <td>See budoco_settings_active.txt, CustomFieldEnabled1 and related settings.
        </tr>
    }
    
    if (bd_config.get(bd_config.CustomFieldEnabled2) == 1) 
    {
        <tr>
            <td><a href="/Admin/List?field=2">@bd_config.get(bd_config.CustomFieldLabelPlural2)</a>
            <td>See budoco_settings_active.txt, CustomFieldEnabled2 and related settings.
        </tr>
    }
    
    if (bd_config.get(bd_config.CustomFieldEnabled3) == 1) 
    {
        <tr>
            <td><a href="/Admin/List?field=3">@bd_config.get(bd_config.CustomFieldLabelPlural3)</a>
            <td>See budoco_settings_active.txt, CustomFieldEnabled3 and related settings.
         </tr>
    }
    
    if (bd_config.get(bd_config.CustomFieldEnabled4) == 1) 
    {
        <tr>
            <td><a href="/Admin/List?field=4">@bd_config.get(bd_config.CustomFieldLabelPlural4)</a>
            <td>See budoco_settings_active.txt, CustomFieldEnabled4 and related settings.
        </tr>
    }    
    
    if (bd_config.get(bd_config.CustomFieldEnabled5) == 1) 
    {
        <tr>
            <td><a href="/Admin/List?field=5">@bd_config.get(bd_config.CustomFieldLabelPlural5)</a>
            <td>See budoco_settings_active.txt, CustomFieldEnabled5 and related settings.
         </tr>
    }    
    
    if (bd_config.get(bd_config.CustomFieldEnabled6) == 1) 
    {
        <tr>
            <td><a href="/Admin/List?field=6">@bd_config.get(bd_config.CustomFieldLabelPlural6)</a>
            <td>See budoco_settings_active.txt, CustomFieldEnabled6 and related settings.
         </tr>
    }
}


<tr><td>&nbsp;<td>&nbsp;</tr><!--hacky line break-->

<tr>
    <td><a href="/Admin/Queries">Issue Queries</a> 
    <td>Customize the different "Views" of issues you see on the Issues page.
</tr>
<tr>
    <td><a href="/Admin/ReportsAdmin">Reports</a> 
    <td>Create/Update Reports
</tr>

<tr><td>&nbsp;<td>&nbsp;</tr><!--hacky line break-->

@{if (bd_config.get(bd_config.DebugEnableRunSql) == 1) 
{                            
    <tr>
        <td><a href="/Admin/RunSql">RunSql</a> 
        <td>Run any SQL. Like psql, but with a web interface.
    </tr>
}}

<tr>
    <td><a href="/Admin/Logs">Logs</a>
    <td>View and download log files.
</tr>

<tr>
    <td><a href="/Admin/EmailQueue">Outgoing Email Queue</a>
    <td>Troubleshoot problems with outgoing email messages for registration, forgotten passwords, and posts.

</tr>

<tr>
    <td><a href="/Admin/PendingUsers">Pending Registrations and Invites</a>
    <td>Troubleshoot problems with pending registration requests and user intvites.
</tr>

<tr>
    <td><a href="/Admin/GitLog">Version Info</a>
    <td>View output of git log -3 > git_log.txt
</table>

</div>

@section Scripts {
    
}
</div>
