@page
@model UserModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home page";
}
<div>
    @{
        // not a redirect
        if (Model.HttpContext.Response.StatusCode == 200)
        {
            <div class="flash_msg">@bd_util.get_flash_msg(Model.HttpContext)</div>
            var errs = bd_util.get_flash_errs(Model.HttpContext);
            if (errs.Count() > 0)
            {

                <div class="flash_err">
                    @{
                        foreach (string err in errs)
                        {
                            <div>@err</div>
                        }
                    }
                </div>
            }
        }
    }

    <div>
        <a href="Users">Back to Users</a>
    </div>

    <form method="post">
        <div>id<input asp-for="id" value="@Model.id" disabled></input>
        </div>
        <div>username<input asp-for="username" value="@Model.username"></input>
        </div>
        <div>email<input asp-for="email" value="@Model.email"></input>
        </div>
        <div>is_admin<input asp-for="is_admin" value="@Model.is_admin"></input>
        </div>
        <div>
            @{
                string button_text = (@Model.id == 0) ? "Create" : "Update";
            }

            <button type="submit">@button_text</button>
        </div>
    </form>
</div>
