@page
@model UsersModel

@{
    ViewData["Title"] = "Users";
}

<script>
    function delete_user(id) {
        if (confirm("Are you sure?")) {
            $("#delete_id").val(id)
            $("#delete_form").submit()
        }
    }
</script>
<form id="delete_form" style="" method="post">
    <input id="delete_id" name="delete_id" value="6666" />
</form>
<div>
    <div class="flash_msg">@bd_util.get_flash_msg(Model.HttpContext)</div>
    <div class="flash_err">@bd_util.get_flash_errs(Model.HttpContext)</div>
    <div>
        <a href="User?id=0">Create</a>
    </div>
    <table class="dt">
        @{
            <tr>
                @{
                    for (int i = 0; i < Model.dt.Columns.Count; i++)
                    {

                        <th>@Model.dt.Columns[i].ColumnName</th>
                    }
                }
                <th>Action</th>
            </tr>
            for (int row = 0; row < Model.dt.Rows.Count; row++)
            {
                DataRow dr = Model.dt.Rows[row];
                <tr>
                    @{
                        for (int col = 0; col < Model.dt.Columns.Count; col++)
                        {

                            <td>@dr[col]</td>
                        }
                    }
                    <td>
                        <a href="User?id=@dr[0]">
                            Update
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" onclick="javascript:delete_user(@dr[0])">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
