@page
@model UserModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Users";
}
<div>
    <partial name="_FlashPartial" />

    <div>
        <a href="Users">Back to Users</a>
    </div>

    <form method="post">
        <div>
            <label>Id</label>
            <input asp-for="id" value="@Model.id" disabled></input>
        </div>
        <div>
            <label>Username</label>
            <input asp-for="username" value="@Model.username"></input>
        </div>
        <div>
            <label>Email</label>
            <input asp-for="email" value="@Model.email"></input>
        </div>
        <div>
            <label>Is Admin</label>
            <input asp-for="is_admin" value="true" />
        </div>
        <div>
            @{
                string button_text = (@Model.id == 0) ? "Create" : "Update";
            }

            <button type="submit">@button_text</button>
        </div>
    </form>
</div>
