@page
@model IssueModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Issue";
}
<partial name="_FlashPartial" />

<div>
  
    <a href="Issues">Back to Issues</a>
    &nbsp;&nbsp;&nbsp;
    @{
        
        if (Model.prev_issue_id_in_list != 0)
        {
            <a href="Issue?id=@Model.prev_issue_id_in_list">Prev</a>
        }
        else
        {
            <span class="gray">Prev</span>
        }

        <span>&nbsp;&nbsp;</span>
        if (Model.next_issue_id_in_list != 0)
        {
            <a href="Issue?id=@Model.next_issue_id_in_list">Next</a>
        }
        else
        {
            <span class="gray">Next</span>
        }

    }
</div>

<div class="form_div">
    <form class="issue_form" method="post">
        <input type="hidden" asp-for="force_create" value=""/>
        @{
            
            if (Model.id != 0)
            {
                <div id="id_and_info">
                    <label>ID @Model.id</label>
                    <span>
                    Created by @Model.created_by_username on @Model.created_date 
                    @{if (Model.last_updated_username != "")
                        {
                        <span>, Last updated by @Model.last_updated_username on @Model.last_updated_date</span>
                            
                        }
                    }
                    </span>
                </div>
            
            }
        }
        
        <div>
            <label>Description</label>
            <input asp-for="description" value="@Model.description" disabled="@Model.null_or_disabled"></input>
        </div>

        <div>
            <label>Details</label>
            <textarea asp-for="details" value="@Model.details" disabled="@Model.null_or_disabled"></textarea>
        </div>
        
        <div><div class="issue_dropdown_container">

        <div id="category_elements" class="issue_dropdown_group">
            <label>Category</label>
            <select asp-for="category_id" asp-items="@Model.category_list" disabled="@Model.null_or_disabled">
                <option value="0">[None]</option>
            </select>
        </div>


        <div id="status_elements" class="issue_dropdown_group">
            <label>Status</label>
            <select asp-for="status_id" asp-items="@Model.status_list" disabled="@Model.null_or_disabled">
                <option value="0">[None]</option>
            </select>
        </div>

  

        <div id="project_elements" class="issue_dropdown_group">
            <label>Project</label>
            <select asp-for="project_id" asp-items="@Model.project_list" disabled="@Model.null_or_disabled">
                <option value="0">[None]</option>
            </select>
        </div>


        <div id="organization_elements" class="issue_dropdown_group">
            <label>Organization</label>
            <select asp-for="organization_id" asp-items="@Model.organization_list" disabled="@Model.null_or_disabled">
                <option value="0">[None]</option>
            </select>
        </div>


        <div id="priority_elements" class="issue_dropdown_group">
            <label>Priority</label>
            <select asp-for="priority_id" asp-items="@Model.priority_list" disabled="@Model.null_or_disabled">
                <option value="0">[None]</option>
            </select>
        </div>

        <div id="assigned_to_user_elements" class="issue_dropdown_group">
            <label>Assigned To</label>
            <select asp-for="assigned_to_user_id" asp-items="@Model.assigned_to_user_list" disabled="@Model.null_or_disabled">
                <option value="0">[None]</option>
            </select>
        </div>
        </flex></div>
  

        @{
            if (Model.null_or_disabled is null)
            {
                string button_text = (Model.id == 0) ? "Create" : "Update";
                <div>
                    <button id="create_or_update_button" type="submit">@button_text</button>
                </div>
            }
        }


    </form>
</div>

<div>
    <div class="fake_link" onclick="prep_for_another()">Use this issue as a starting point for new issue</div>
</div>

@{
    if (Model.id != 0)
    {
        <div id="posts"></div>

        <div class="form_div">
            <form class="post_form" id="post_form" method="post" enctype="multipart/form-data">
                <div>
                    <input onchange="comment_or_email(this)" type="radio" id="comment" name="post_type" value="comment" checked>
                    <label for="comment">Comment</label>
                    <input onchange="comment_or_email(this)" type="radio" id="email" name="post_type" value="email">
                    <label for="email">Email</label><br>
                </div>
                <div id="email_fields" style="display:none">
                    <label id="post_email_to_label">To:</label>
                    <input asp-for="post_email_to" value="">
                </div>
                <div>
                    <textarea name="post_text" id="post_text"></textarea>
                </div>

                <div id="file_div1">
                    <span class="fake_link" style="display:none" id="remove_file1" onclick="remove_attachment(1)">Remove</span>
                    <label class="file_name_label fake_link">
                        <span class="fake_link" id="attach_file1">Attach File</span>
                        <input style="display:none" onchange="on_change_file_name(1)" type="file" asp-for="uploaded_file1" />
                    </label>
                    <span class="file_name" id="file_name1"></span>
                </div>
                
                <div id="file_div2" style="display:none">
                    <span class="fake_link" style="display:none" id="remove_file2" onclick="remove_attachment(2)">Remove</span>
                    <label class="file_name_label fake_link">
                        <span class="fake_link" id="attach_file2">Attach File</span>
                        <input style="display:none" onchange="on_change_file_name(2)" type="file" asp-for="uploaded_file2" />
                    </label>
                    <span class="file_name" id="file_name2"></span>
                </div>

                <div id="file_div3" style="display:none">
                    <span class="fake_link" style="display:none" id="remove_file3" onclick="remove_attachment(3)">Remove</span>
                    <label class="file_name_label ">
                        <span class="fake_link" id="attach_file3">Attach File</span>
                        <input style="display:none" onchange="on_change_file_name(3)" type="file" asp-for="uploaded_file3" />
                       </label>
                    <span class="file_name" id="file_name3"></span>
                </div>

                <div class="post_form_footer">
                    <button type="button" onclick="submit_post()">Submit</button>
                </div>
            
            </form>
        </div>
     }
}

@section Scripts {
    
    <script>
        
    $(document).ready(function() {
        get_posts()
     });
 
    function get_posts() {
        $.ajax({
            type: "Get",
            url: "/Issue?handler=Posts&id=@Model.id",
 
            success: function (posts_as_html) {
                // blank out form
                blank_out_post_form();
                $("#posts").html(posts_as_html)
            },
            
            failure: function (response) {
                alert(response);
            },

            statusCode: {
                500: function() {
                    alert("get - server returned status code of 500");
                }
            }
        });
    }
    function blank_out_post_form () {
        // blank out the form we just posted
        $("#post_email_to").val("");
        $("#post_text").val("");

        $("#file_name1").html("");
        $("#file_name2").html("");
        $("#file_name3").html("");

        $("#attach_file1").show();
        $("#attach_file2").hide();
        $("#attach_file3").hide();
        
        $("#remove_file1").hide();
        $("#remove_file2").hide();
        $("#remove_file3").hide();

        $("#file_div2").hide();
        $("#file_div3").hide();

        $("#uploaded_file1").val("");
        $("#uploaded_file2").val("");
        $("#uploaded_file3").val("");
    }

    function submit_post() {
       
        if ($('#post_text').val().trim() == "" 
        && $("#uploaded_file1").val() == "") {
            alert("Some text or a file is required");
            return;
        }

        $.ajax({
            url: '/Issue?id=@Model.id&handler=AddPost',
            data: new FormData(document.getElementById("post_form")),
            contentType: false,
            processData: false,
            type: 'post',
            
            success: function (posts_as_html) {
                console.log(posts_as_html)
                if (!posts_as_html.startsWith("<!--error-->")) {
                    blank_out_post_form();
                }
                $("#posts").html(posts_as_html);
            },
            
            failure: function(response) {
                alert(response)
            },

            statusCode: {
                500: function() {
                    alert("post- server returned status code of 500");
                }
            }
        }) // end submit post
    } // end func

    function show_hide_image(image_div_id, link) {
        if ($(link).html() == "View") {
            $(link).html("Hide")
            $(image_div_id).show()
        }
        else {
            $(link).html("View")
            $(image_div_id).hide()
        }
    } // end func
    
    function prep_for_another() {
        $("#posts").html("")
        $("#id_and_info").html("")
        $("#force_create").val("force_create")
        $("#create_or_update_button").html("Create")
    }

    function remove_attachment(suffix) {
        $("#uploaded_file" + suffix).val("");
        $("#file_name" + suffix).html("");
        $("#remove_file" + suffix).hide();
        $("#attach_file" + suffix).show();
    }

    function on_change_file_name(suffix) {
        filename = $("#uploaded_file" + suffix).val();
        $("#file_name" + suffix).html(filename);
        $("#attach_file" + suffix).hide();
        $("#remove_file" + suffix).show();
        
        if (suffix == 1)
            $("#file_div2").show();
        else if (suffix == 2)
            $("#file_div3").show();

    }  
         
    function comment_or_email(el) {
        var post_type = $(el).val();
        if (post_type == "email") {
            $("#email_fields").show();
        }
        else {
            $("#email_fields").hide();
        }
    }
    </script>

}

