@page
@model IssueModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Issue";
}
<div>
    @{
        // not a redirect
        if (Model.HttpContext.Response.StatusCode == 200)
        {
            <partial name="_FlashPartial" />
        }
    }

    <div>
        <a href="Issues">Back to Issues</a>
    </div>

    <form method="post">
        <div>id<input asp-for="id" value="@Model.id" disabled></input>
        </div>
        <div>desc<input asp-for="desc" value="@Model.desc"></input>
        </div>

        <div>
            Category
            <select asp-for="category_id" asp-items="@Model.categories">
                <option value="">-- Select Category --</option>
            </select>
        </div>

        <div>
            Project
            <select asp-for="project_id" asp-items="@Model.projects">
                <option value="">-- Select Project --</option>
            </select>
        </div>

        <div>
            Priority
            <select asp-for="priority_id" asp-items="@Model.priorities">
                <option value="">-- Select Priority --</option>
            </select>
        </div>

        <div>
            Status
            <select asp-for="status_id" asp-items="@Model.statuses">
                <option value="">-- Select Status --</option>
            </select>
        </div>

        <div>
            Assigned to
            <select asp-for="assigned_to_user_id" asp-items="@Model.assigned_to_users">
                <option value="">-- Assign to --</option>
            </select>
        </div>

        <div>
            @{
                string button_text = (@Model.id == 0) ? "Create" : "Update";
            }

            <button type="submit">@button_text</button>
        </div>
    </form>

    <div>
        <a href="Issue?id=0">Create Issue</a>
    </div>
</div>
