@page
@model IssueModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Issue";
}
<div>
    <partial name="_FlashPartial" />

    <div>
        <a href="Issues">Back to Issues</a>
    </div>

    <form method="post">
        <div>
            <label>Id:</label>
            <input asp-for="id" value="@Model.id" disabled></input>
        </div>

        <div>
            <label>Description</label>
            <input asp-for="description" value="@Model.description"></input>
        </div>

        <div>
            <label>Details</label>
            <textarea asp-for="details" value="@Model.details"></textarea>
        </div>

        <div>
            <label>Category</label>
            <select asp-for="category_id" asp-items="@Model.categories">
                <option value="">-- Select Category --</option>
            </select>
        </div>

        <div>
            <label>Project</label>
            <select asp-for="project_id" asp-items="@Model.projects">
                <option value="">-- Select Project --</option>
            </select>
        </div>

        <div>
            <label>Priority</label>
            <select asp-for="priority_id" asp-items="@Model.priorities">
                <option value="">-- Select Priority --</option>
            </select>
        </div>

        <div>
            <label>Status</label>
            <select asp-for="status_id" asp-items="@Model.statuses">
                <option value="">-- Select Status --</option>
            </select>
        </div>

        <div>
            <label>Assigned To</label>
            <select asp-for="assigned_to_user_id" asp-items="@Model.assigned_to_users">
                <option value="">-- Assign to --</option>
            </select>
        </div>

        <div>
            @{
                string button_text = (@Model.id == 0) ? "Create" : "Update";
            }

            <button type="submit">@button_text</button>
        </div>
    </form>

    <div>
        <a href="Issue?id=0">Clear and create another issue</a>
    </div>
</div>
