@page
@model SearchModel
@using Microsoft.AspNetCore.Mvc.Razor

@{
    ViewData["Title"] = "Search Issues";
}

<h1>Search Issues</h1>
<partial name="_FlashPartial" />

<div class="form_div">
<form method="get" action="Search">
    <table class="form_table">
        
    <tr>
        <td><label>Search Keywords:</label>
        <td><input asp-for="search_terms"/>
    </tr>

    <tr class="info_text">
        <td colspan=2>
        <br>
        dog cat => searchs for text that contains both dog AND cat
        <br>
        dog or cat => search for text that contains either dog OR cat
        <br>
        dog -cat => search for text that contains dog but NOT cat
        <br>
        "dog cat" => search for text that contains the phrase "dog cat"
        </td>
    </tr>

    <tr>
        <td><button>Search</button>
    </tr>
    </table>
</form>
</div>

@{

    if (Model.dt is not null) {
<table class="dt">
    @{
        <tr>
            @{
                <th>@Model.dt.Columns[0].ColumnName</th>
                <th>@Model.dt.Columns[1].ColumnName</th>
                <th>@Model.dt.Columns[2].ColumnName</th>
            }
        </tr>
        for (int row = 0; row < Model.dt.Rows.Count; row++)
        {
            DataRow dr = Model.dt.Rows[row];
            <tr>
                <td><a href="/Issue?id=@dr[0]">@dr[0]</a></td>
                <td><a href="/Issue?id=@dr[0]">@dr[1]</a></td>
                <td>
                    <span class="search_context">@Html.Raw(@dr[2])</span>
                    &nbsp;
                    @{
                        int p_id = (int)@dr["p_id"];
                        if (p_id == 0)
                        {
                            <span class="info_text">(in Description)</span>
                        }
                        else
                        {
                            <span class="info_text">(in post #@p_id)</span>
                        }
                    }
                </td>
            </tr>
        }
    }
</table>
    }
}


@section Scripts {
    
}
