@page
@model SearchModel
@using Microsoft.AspNetCore.Mvc.Razor

@{
    ViewData["Title"] = "Search";
}

<h1>Search Issues</h1>

<div>

    <partial name="_FlashPartial" />

    <div class="form_div">
    <form class="search_form" method="post">
        
        <div>
            <label>Search:</label>
            <input asp-for="search_terms"/>
        </div>

        <div class="info_text">
            These examples are from <a href="https://www.postgresql.org/docs/12/textsearch-controls.html#TEXTSEARCH-PARSING-QUERIES">PostgreSQL's documentation</a>,
            but only the first two seem to be working in Budoco:
            <br>
            dog cat => searchs for text that contains both dog AND cat
            <br>
            dog or cat => search for text that contains either dog OR cat
            <br>
            dog -cat => search for text that contains dog but NOT cat
            <br>
            "dog cat" => search for text that contains the phrase "dog cat"
        </div>

        <div>
            <button>Search</button>
        </div>
    </form>
    </div>

    @{

        if (Model.dt is not null) {
    <table class="dt">
        @{
            <tr>
                @{
                    for (int i = 0; i < 3; i++)
                    {

                        <th>@Model.dt.Columns[i].ColumnName</th>
                    }
                }
            </tr>
            for (int row = 0; row < Model.dt.Rows.Count; row++)
            {
                DataRow dr = Model.dt.Rows[row];
                <tr>
                            <td><a href="/Issue?id=@dr[0]">@dr[0]</a></td>
                            <td><a href="/Issue?id=@dr[0]">@dr[1]</a></td>
                            
                            <td><span class="search_context">@Html.Raw(@dr[2])</span></td>
                </tr>
            }
        }
    </table>
        }
    }


@section Scripts {
    
}
