@page
@model UsersModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Users";
}

<script>
    function delete_user(id) {
        $("#delete_id").val(id)
        $("#delete_form").submit()
    }
</script>
<form id="delete_form" style="" method="post">
    <input id="delete_id" name="delete_id" value="6666" />
</form>
<div>
    <div class="flash">@bd_util.get_flash(Model.HttpContext)</div>
    <div>
        <a href="User?id=0">Create</a>
    </div>
    <table class="dt">
        @{
            <tr>
                @{
                    for (int i = 0; i < Model.dt.Columns.Count; i++)
                    {

                        <th>@Model.dt.Columns[i].ColumnName</th>
                    }
                }
                <th>Action</th>
            </tr>
            for (int i = 0; i < Model.dt.Rows.Count; i++)
            {
                DataRow dr = Model.dt.Rows[i];
                <tr>
                    <td>
                        @dr[0].ToString()
                    </td>
                    <td>
                        @dr[1].ToString()
                    </td>
                    <td>
                        <a href="User?id=@dr[0]">
                            Update
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" onclick="javascript:delete_user(@dr[0])">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
