@page
@model IndexModel

@{
    ViewData["Title"] = "Reports";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-page="Edit">Create Report</a>
</div>

<partial name="_FlashPartial" />

<div class="data_table_div crud_table">
    <table class="dt">
        @{
            <tr>
                @{
                    foreach (var column in Model.Columns())
                    {
                        <th>@column</th>
                    }
                }
            </tr>

            if (Model.dt.Rows.Count > 0)
            {
                foreach (DataRow dr in Model.dt.Rows)
                {
                    <tr>
                        <td>@dr["rp_id"]</td>
                        <td>@dr["rp_desc"]</td>

                        <td>
                            @{
                                var chartType = (string)dr["rp_chart_type"];

                                if (chartType == "pie" || chartType == "line" || chartType == "bar")
                                {
                                    <a target='_blank' asp-page="View" asp-route-id="@dr["rp_id"]" asp-route-view="chart">@chartType</a>
                                }
                            }
                        </td>

                        <td>
                            <a target='_blank' asp-page="View" asp-route-id="@dr["rp_id"]" asp-route-view="data">data</a>
                        </td>

                        @if (bd_util.is_user_admin(HttpContext) /*|| security.user.can_edit_reports*/)
                        {
                            <td colspan="2">
                                <a asp-page="Edit" asp-route-id="@dr["rp_id"]">Edit</a>
                                <a asp-page="Delete" asp-route-id="@dr["rp_id"]">Delete</a>
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No reports in the database.</td>
                </tr>
            }
        }
    </table>
</div>

@section Scripts {
}
